.card-row3{
    display: flex;
    overflow-y: scroll;
    overflow-y: scroll;  
    width: 130vw; 
    transition: transform 430ms;
}
.card-row3::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}
.card-list3{
       width: 130%;
    max-height: 500px;
    padding: 10px;
    display:flex;
       
}
.card-poster3:hover{
    transform: scale(1.2);
}
.card-poster3{
    width:180px;
    height: 210px;
   object-fit:contain;
   justify-content: space-between;


}